    body {
      display: flex; 
      justify-content: center; 
      align-items: center; 
      height: 100vh; 
      margin: 0; 
      flex-direction: column; 
      background-color: #282828;
    }
    .image-container {
      position: relative; 
    }
    h1 {
      text-align: center; 
      color: #ffffff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      margin-bottom: 10px; 
      font-size: 3em; 
    }
    a {
      font-size: 0.85em;
      color: #ffffff;
    }
    div {
        color: #ffffff;
    }
